# LexGent Demo 环境配置

# Data Server URL
DATA_SERVER_URL=http://192.168.124.112:3000
# DATA_SERVER_URL=http://localhost:3000

# YAML Server URL
YAML_SERVER_URL=http://192.168.124.112:3003
# YAML_SERVER_URL=http://localhost:3003

# Agent Engine URL (lexgent-engine)
AGENT_SERVER_URL=http://192.168.124.42:3001
# AGENT_SERVER_URL=http://localhost:3001
